<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title><%= title %></title>
    </head>
    <body>
        <h1>Have something to say?</h1>
        <form method="post" action="/new">
            <label for="userName">Username:</label>
            <input
                id="userName"
                name="userName"
                type="text"
                placeholder="Anonymous"
            />

            <label for="message">Message:</label>
            <textarea
                name="message"
                id="message"
                cols="30"
                rows="10"
                placeholder="Your message..."
                required
            ></textarea>
            <button type="submit">Post</button>
        </form>
    </body>
</html>
